/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*

   Colors:
   Sage: #789d96
   Navy: #21293e
   Charcoal: #4f4d5b
   Blue-grey: #94a4bb
   Lt blue: #d0e3f4
   snow white: #eff7fa
   Sunny: #ffc25f

   */





html {
    box-sizing: border-box;
    background-color: #eff7fa;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

img {
    display: block; 
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    color: #4f4d5b;
    max-width: 1366px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

h2,
h3,
h4,
h5 {
    color: #94a4bb;
    font-family: 'grad', serif;
    font-weight: 700;
}

.button {
    display: inline-block;
    background-color: #21293e;
    border-radius: 10px;
    padding: .75em 1.25em;
    text-decoration: none;
    color: #eff7fa;
    font-size: 1em;
}

    .button:hover {
        background-color: #eff7fa;
        color: #21293e;
    }

blockquote {
    position: relative;
    font-style: italic;
    text-align: left;
}

blockquote h5 {
    position: relative;
    z-index: 10;
    color: #789d96;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 0;
}

blockquote i {
    position: absolute;
    top: -0.5em;
    left: -0.25em;
    color: #eff7fa;
    font-size: 4em;
}

.bold-i-sage {
    font-weight: bold;
    color: #789d96;
    float: right;
}

p a {
    color: #21293e;
}

p a:hover {
    color: #ffc25f;
}

p a:visited {
    color: #789d96;
}

/* Mailing List ========================================================================*/

.mailing-list {
    display: none;
    padding: 1em;
}
        .mailing-list h2 {
            padding-top: 1em;
            color: #21293e;
        }

input {
    width: 100%;
    padding: 8px;
}

input[type=submit] {
    width: 200px;
    height: 60px;
    margin: 25px 0px;
    font-size: 18px;
    background-color: #ffc25f;
    color: #21293e;
    border: none;
}

input[type=submit]:hover {
    background-color: #21293e;
    color: #ffc25f;
    border: none;
}


/* Mailing List Open ====================================================================*/

.mailing-list-open {
    overflow: hidden;
  }

        .mailing-list-open .mailing-list {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid purple;
            width: 25%;
            min-height: 100%;
        }


        .mailing-list-open .page-content  {
            border: 1px solid #21293e;
            transform: translateX(25%);
        }

        .mailing-list-open .page-content:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: hsla(194, 99%, 84%, 0.25);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 150;
        }

.mailing-list .close-icon {
        font-style: normal;
        font-size: 3em;
        position: absolute;
        top: 1rem;
        right: 0.3em;
        line-height: .5;
        color: #21293e;
        background-color: #ffc25f;
        padding: 0px 0px;
    }

/* Header Styles ==================================================================================*/

#page-header {
    background-image: url(../img/lake-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#page-header img {
    padding: 1.75em;
    margin: 0 auto;
}

/* Nav Styles - not fixed nav ====================================================================*/

#main-nav {
    font-weight: 700;
    text-transform: uppercase;
    background-image: url(../img/wood-nav-bg.jpg);
    height: 75px;
    padding-top: 1.6em;
}

@media screen and (max-width: 1000px) {
    #main-nav {
        padding-top: 0;
        height: auto;
    }
}

        #main-nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #main-nav li {
            display: inline-block;
            font-size: 1.15em;
        }

        #main-nav a {
            text-decoration: none;
            color: #fff;
            padding: 1.25em;
        }

        #main-nav a:hover {
            color: #21293e;
            background-color: hsla(194, 99%, 84%, 0.25);
        }

        @media screen and (max-width: 1000px) {
            #main-nav li {
                display: block;
                text-align: center;
            }

            #main-nav a {
                display: block;
                padding: .45em;
            }
        }

.mailing i {
    color: #fff;
    font-size: 1.25em;
}

/* Section Styles ====================================================================*/

.page-section {
    margin: 40px 0px;
    padding: 0px 40px;
    text-align: center;
}

.page-section p {
    text-align: left;
}

/* ================ Hero Image with Text ==========================*/

.hero {
    position: relative;
    margin: 40px 0;
}

        .hero img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }

        .hero h4 {
            position: absolute;
            top: 1em;
            left: 1em;
            color: #21293e;
            font-style: 700;
            font-size: 3em;
            margin-top: 0;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 1em 1em;
            width: 33.33%;
            line-height: 1.25;
        }

/* ====================== Leafy Divider ==========================*/

.leafy-header {
    background-image: url(../img/leaf-header.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px;
    height: 100px;
}

/* ====================== Cabin feature ==========================*/

.blue-section {
    background: #d0e3f4;
    margin: 40px 0px 0px 0px;
    padding: 30px;
    text-align: center;
}

.blue-section p {
    text-align: left;
}

.cabin-feature {
    float: left;
    position: relative;
    width: 50%;
    padding: 10px;
    text-align: left;
    margin-bottom: 30px;
}

        @media screen and (max-width: 1000px) {
            .cabin-feature {
                float: none;
                width: 100%;
                border-bottom: 1px solid #94a4bb;
                padding-bottom: 2em;
            }
        }

        .cabin-feature:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }

.button {
    background-color: #ffc25f;
    border-radius: 10px;
    padding: .75em 1.25em;
    text-decoration: none;
    color: #21293e;
    font-size: 1em;
}

.cabin-feature h3 {
    position: absolute;
    top: 0;
    left: 1em;
    background-color: hsla(239, 3%, 25%, 0.86);
    color: #fff;
    padding: 0.5em;
    text-align: left;
}

        @media screen and (max-width: 1000px) {
            .cabin-feature h3 {
                top: 0.25em;
                left: 1.25em;
                padding: 0.5em;
            }
            
        }

.icon-collection {
    text-align: left;
    float: left;
    width: 100%;
}

.icon-collection figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}

        .icon-collection .icon {
            padding: 0.5em 2em 0.5em 0em;
        }

        .icon-collection i {
            font-size: 1.5em;
        }

.icon {
    text-align: center;
}

        .icon figcaption {
            font-size: 1.25em;
            padding-top: .25em;
        }



/* ========================== footer ============================*/

#page-footer {
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

        @media screen and (max-width: 800px) {
            #page-footer {
                background-repeat: repeat-y;
                text-align: center;
            }
        }

.map {
    float: right;
    padding-left: 1em; 
}

        @media screen and (max-width: 800px) {
            .map {
                float: none;
                padding-left: 0;
                width: 100%;
            }
        }

ul#social-icons {
    list-style: none;
    margin-top: 20px;
    padding-left: 0px;
}

#social-icons li {
    display: inline-block;
    padding-right: 25px;
    color: #fff;
}

#social-icons i {
    font-size: 2em;
}

#page-footer a {
    color: #fff;
}

#page-footer a:hover {
    color: #ffc25f;
}

#page-footer a:visited {
    color: #789d96;
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


